#container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    
}

#header, #introduction {
    font-weight: bolder;
    font-size: 32px;
    margin: auto;
    align-items: center;
}

#stats {
    margin: auto;

}

#recap {
    font-style: italic;
    flex-wrap: wrap;
    padding-right: 5px;
    margin: auto;
}